Checks: 'osdev-fmt-string,
bugprone-*,
mpi-*,
cert-err52-cpp,
cert-err60-cpp,
cert-err34-c,
cert-str34-c,
cert-sig30-c,
cert-dcl21-cpp,
cert-msc50-cpp,
cert-msc51-cpp,
cert-err58-cpp,
cert-dcl58-cpp,
cert-flp30-c,
cppcoreguidelines-pro-type-member-init,
cppcoreguidelines-slicing,
cppcoreguidelines-interfaces-global-init,
cppcoreguidelines-pro-type-static-cast-downcast,
google-default-arguments,
google-runtime-operator,
google-explicit-constructor,
hicpp-multiway-paths-covered,
hicpp-exception-baseclass,
misc-unconventional-assign-operator,
misc-confusable-identifiers,
misc-misplaced-const,
misc-new-delete-overloads,
misc-non-copyable-objects,
misc-static-assert,
misc-throw-by-value-catch-by-reference,
misc-redundant-expression,
misc-uniqueptr-reset-release,
modernize-*,
-modernize-use-nodiscard,
-modernize-use-trailing-return-type,
-modernize-avoid-c-arrays,
-modernize-use-using,
-modernize-use-default-member-init,
-modernize-macro-to-enum,
openmp-use-default-none,
performance-*,
-performance-no-int-to-ptr,
portability-simd-intrinsics,
readability-*,
-readability-redundant-preprocessor,
-readability-named-parameter,
-readability-function-size,
-readability-simplify-boolean-expr,
-readability-identifier-length,
-readability-duplicate-include,
-readability-magic-numbers,
-readability-braces-around-statements,
-readability-redundant-member-init,
-readability-suspicious-call-argument,
-readability-qualified-auto,
-readability-isolate-declaration,
-readability-uppercase-literal-suffix,
-readability-container-data-pointer,
-readability-else-after-return,
-readability-redundant-access-specifiers,
-readability-function-cognitive-complexity,
-readability-implicit-bool-conversion,
-readability-container-contains,
-readability-identifier-naming,
-bugprone-easily-swappable-parameters,
-bugprone-reserved-identifier,
-bugprone-assignment-in-if-condition,
-bugprone-multi-level-implicit-pointer-conversion,
-readability-avoid-nested-conditional-operator,
-clang-diagnostic-unused-function,
-clang-analyzer-core.UndefinedBinaryOperatorResult,
-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
-clang-analyzer-security.insecureAPI.strcpy'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
CheckOptions:
#  - key: osdev-fmt-string.Functions
#    value: 'kprintf'
  - key: osdev-fmt-string.CustomTypes
    value: 'err=int,
Lo=struct lock_object *,
pr=struct proc *,
td=struct thread *,
va=struct vattr *,
ve=struct ventry *,
vn=struct vnode *,
vt=enum vtype,
str=struct str *,
cstr=struct cstr *,
path=struct path *,
time=struct tm *,
epoc=ulonglong,
file=struct file *
'
