[submodule "third-party/edk2"]
	path = third-party/edk2
	url = https://github.com/tianocore/edk2.git
[submodule "third-party/mlibc"]
	path = third-party/mlibc
	url = https://github.com/managarm/mlibc.git
