[submodule "third-party/mlibc"]
	path = third-party/mlibc
	url = https://github.com/aar10n/mlibc.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/aar10n/fmt_c.git
[submodule "third-party/musl"]
	path = third-party/musl
	url = git://git.musl-libc.org/musl
